.container{
    height: 18.5em;
    width: 18.625em;
    align-items: center;
    vertical-align: middle; 
    padding: 1%;
    border: none; 
  }
  .container:hover{
    transform: scale(1.1,1.1);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
  }
  .card {
    /* height: 18.5em;
    width: 15.625em; */
    align-items: center;
    vertical-align: middle; 
    padding: 1%;
    border: none;
  }
  
  .img {
    height: 8.5em;
    width: 12.625em;  
  }
  .details{
      margin-left: 7%;
      align-self: center;
      align-items: center;
      vertical-align: middle;
  }
  .headerFont {
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .subFonts {
    font-size: medium;
    font-weight: 900;
    font-style: oblique;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  