
<html>
  <head></head>
  <body>  
    <div class="container">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <a routerLink="/property-details/{{property.propertyID}}">
        <div class="card">
          <img *ngIf="property.propertyImage" [src]="property.propertyImage" alt="house" class="img" />
          <img *ngIf="!property.propertyImage" src="/assets/photos/defaultPhoto.png" alt="house" class="img" />
          <div class="details">
              <h1 class="headerFont">{{property.propertyName}}</h1>
              <h2 class="subFonts"> CA $ {{property.propertyPrice}}</h2>
              <h2 class="subFonts">{{property.propertyType}}</h2>
            </div> 
          </div>
        </a>
      </div>
    </div>  
  </body>
</html>
