.container{
    height: 35.6vh;
    width: 35.8vh;
    align-items: center;
    vertical-align: middle; 
    padding: 5%;
    border: none; 
  }
  .container:hover{
    transform: scale(1.1,1.1);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
  }
  .card {
    /* height: 18.5em;
    width: 15.625em; */
    align-items: center;
    vertical-align: middle; 
    padding: 5%;
    border: none;
  }
  
  .img {
    height: 13.6vh;
    width: 20.2vh;  
    image-rendering: optimizeQuality;
  }
  .details{
      margin-left: 7%;
      align-self: center;
      align-items: center;
      vertical-align: middle;
  }
  .headerFont {
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .subFonts {
    font-size: medium;
    font-weight: 900;
    font-style: oblique;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  