.container{
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: inset;
}
.ng-invalid.ng-touched{
    border-color: red;
}
.ng-valid{
    border-color: blue;
}
.ng-pristine{
    border-color: lightblue;
}
.ng-dirty{
    border-color: brown;
}
.error-block{
    color: red;
}