<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card m-auto">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
              />
            </div>
            <span *ngIf="registrationForm.get('username')?.value==null&& registrationForm.get('username')?.touched">
              Enter valid name
            </span>
            <div class="form-group col-12">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" formControlName="email" />
            </div>
            
            <div class="form-group col-12">
              <label for="passwrod" class="form-label">Password</label>
              <input
                type="text"
                class="form-control"
                formControlName="password"
              />
            </div>
            
            <div class="form-group col-12">
              <label for="cpassword" class="form-label">Confirm Password</label>
              <input
                type="text"
                class="form-control"
                formControlName="confirmPassword"
              />
            </div>
            <span *ngIf="!passwordMatcher(registrationForm)">
              Confirm Password is not matching...
            </span>
           
            <div class="form-group col-12">
              <label for="mobile" class="form-label">Mobile</label>
              <input
                type="text"
                class="form-control"
                formControlName="mobileNo"
              />
            </div>
           
            <div class="form-group col-12">
              <button
                type="submit"
                [disabled]="freezeFunction(registrationForm)"
                class="btn btn-primary"
              >
                Save
              </button>
              <button type="reset" class="btn btn-secondary ml-2">
                Cancel
              </button>
            </div>
            Form Values: {{ registrationForm.value | json }} <br />
            Form Valid:{{ registrationForm.valid }} <br />
            Form Touched: {{ registrationForm.touched }} <br />
            Form Pristine: {{ registrationForm.pristine }} <br />
            Form Dirty: {{ registrationForm.dirty }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
